h3 {
	font-size: 18px;
	padding: 7px 0 0 0;
	margin: 0;
}
input {
	width: 175px;
}
.leftMenu {
	float: left;
	border: 2px solid black;
	width: 250px;
	margin-right: 25px;
}
.mainMenu {
	float: left;
	border: 2px solid red;
	width: 480px;
	padding: 5px;
}
#alster {
	border: 2px solid black;
	width: 455px;
}
#alsterPhotoFrame {
	width: 400px;
	height: 260px;
	border: 3px solid black;
	margin: 25px;
	overflow: hidden;
}
#alsterQuoteFrame {
	width: 400px;
	min-height: 30px;
	margin: 25px;
	font-weight: bold;
	font-style: italic;
	font-size: 16px;
}
#searchPhotosArea, #searchQuoteTagArea {
	float: left;
	overflow: auto;
	max-height: 300px;
}
#searchPhotosArea {
	text-align: center;
}
#searchQuoteTagArea {
	padding: 7px;
	font-weight: bold;
	font-style: italic;
}
#editQuoteTextarea {
	margin-left: 25px;
	width: 392px;
	min-height: 99px;
}