h1 {
	margin-bottom: 20px;
}
h3 {
	font-size: 18px;
	padding: 7px 0 0 0;
	margin: 0;
	display: block;
	clear: both;
}
input {
	width: 169px;
	margin-right: 7px;
}
.navbar .container, .container {
	width: 761px;
}
.main {
	margin-bottom: 9px;
}
.leftMenu {
	float: left;
	border: 2px solid black;
	width: 233px;
	margin-right: 25px;
	margin-bottom: 20px;
	padding: 0 9px;
}
.mainMenu {
	float: left;
	width: 465px;
}
#alster {
	border: 2px solid black;
	width: 455px;
	background: white;
}
#alsterPhotoFrameBorder {
	border: 3px solid black;
	width: 400px;
	height: 260px;
	margin: 25px;
}
#alsterPhotoFrame {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#alsterQuoteFrame {
	width: 400px;
	min-height: 30px;
	margin: 25px;
	font-weight: bold;
	font-style: italic;
	font-size: 16px;
}
#searchPhotosArea, #searchQuoteTagArea {
	float: left;
	overflow: auto;
	max-height: 300px;
}
#searchPhotosArea {
	padding: 7px;
}
.photoSrc {
	width: 47px;
	cursor: move;
	border: 2px solid transparent;
	float: left;
}
.photoSrc:hover {
	border-color: gray;	 
}
#searchQuoteTagArea {
	padding: 7px;
}
.quotesList {
	cursor: pointer;
	padding: 5px 3px;
	margin-bottom: 2px;
	font-weight: bold;
	font-style: italic;
}
.quotesList:hover {
	background: rgba(100,100,100,0.3);
}
#editQuoteTextarea {
	margin-left: 25px;
	width: 392px;
	min-height: 99px;
}
#editQuoteButtons {
	margin-left: 20px;
}
#saveQuoteEdit, #cancelQuoteEdit {
	margin: 5px 0 9px 7px;
}
.activeArea {
	background: rgba(200,200,200,0.7) !important;
}
#map {
	width: 100%;
	height: 100%;
}
#map label { width: auto; display:inline; }
#map img { max-width: none; }

#myStuff {
	width: 300px;
	display: none;
}
#myStuff img {
	border: 3px solid transparent;
}
#myStuff img:hover {
	border-color: rgba(200,200,200, 0.7);
}
#droppedPhoto {
	position: relative;
}
#finalize {
	margin: 15px 5px;
}
#allowGeolocation {
	margin-left: 20px;
}
#deleteAlsterSpan {
	margin-left: 130px;
}
#trash {
	width: 212px;
	height: 100px;
	display: none;
	background: rgba(100,100,100,0.8);
	text-align: center;
}
.profilePic {
	padding-right: 7px;
}
.profileName {
}
.profilePicInFrame {
	display: none;
}
#logoutLink {
	margin-left: 30px;
}
.loadingAjaxText {
	padding: 5px 7px;
}
#historyButtons {
	display: block;
	float: left;
	width: 100%;
}
