RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(/Dev/webbteknik_projekt/api/index\.php)
RewriteRule (.*)$ /Dev/webbteknik_projekt/api/index.php/$1
